<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SimpleServletProject</display-name>
  <welcome-file-list>
  <!--   <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file> -->
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>x</servlet-name>
  	<servlet-class>org.Serv</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>x</servlet-name>
  	<url-pattern>/Serve</url-pattern>
  </servlet-mapping>
  
  <servlet>
	  <servlet-name>y</servlet-name>
	  <jsp-file>/index.jsp</jsp-file>
	  <init-param>
	  	<param-name>defaultUser</param-name>
	  	<param-value>Krishna Yadav</param-value>
	  </init-param>
  </servlet> 
  <servlet-mapping>
  <servlet-name>y</servlet-name>
  <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>
</web-app>